<p><%= link_to_back(:back) %></p>

<div id="mensagem">

  <p class="notice"> Encontrado <%= @monitoramentos.size %> monitoramentos </p>

  <% unless @buscando_por.blank? %>
      <p class="notice"> Buscando por: <%= @buscando_por %> </p>
  <% end %>

  <% unless @visor_nome.blank? %>
    <p class="notice"> <%= Visor.nome_exibicao %>: <%= @visor_nome %> </p>
  <% end %>

  <% unless @periodo.blank? %>
    <p class="notice"> Período: <%= @periodo %> </p>
  <% end %>

  <% unless @periodo_inicial.blank? %>
      <p class="notice"> De <%= @periodo_inicial %> até <%= @periodo_final %> </p>
  <% end %>

  <% unless @operador.blank? %>
      <p class="notice"> Operador: <%= @operador %> </p>
  <% end %>

  <% unless @cameras.blank? %>
    <p class="notice"><%= Camera.nome_exibicao %>: <%= @cameras %></p>
  <% end %>

</div>

<span align="center"><%= paginate(@monitoramentos) %></span><br />

<table id="tabela_listagem_clara" width="100%" border="0" cellspacing="6">
  <tr>
    <th>GCM</th>
    <th>Data</th>
    <!-- <th>Período</th> -->
    <th>Novidades</th>
    <th width="30%">Ação</th>
  </tr>

<% @monitoramentos.each do |monitoramento| %>
  <tr>
    <td width="25%"><%= monitoramento.user.nome %></td>
    <td width="15%"><%= l(monitoramento.data) %></td>
    <!-- <td><%= monitoramento.periodo_descricao %></td> -->
    <td width="30%"><%= monitoramento.novidades[0,50] if !monitoramento.novidades.nil?  %>...</td>
    <td width="30%"><%= links_to_operacao(monitoramento) %></td>
  </tr>
<% end %>
</table>

<br /><span align="center"><%= paginate @monitoramentos %></span>
