<div id="seleciona_ocorrencia" style="top: 468px" class="div_flutuante">

  <%= simple_fields_for(:ocorrencia_itens) do |f| %>
    <%= f.input :ocorrencia, :as => :select, :label => false, :input_html => { :style => "width:95%", :onChange => "executa_click('#carrega_ocorrencia_itens')"}, :collection => Ocorrencia.all, :label_method => :grupo %>
    <div id="campo_ocorrencia_descricao">
      <!-- Aqui ira aparecer o campo select ocorrencia_itens vindo da partial carrega_ocorrencia_itens -->
    </div>

    <div style="display: none;">
        <%= f.button :submit, :id => "carrega_ocorrencia_itens", :name => "carrega_ocorrencia_itens", :value => "Carrega"%>
    </div>

    <%= f.button :submit, :name => "add_ocorrencia", :value => t("screen.button.confirm") %>
    <%= link_to t("screen.button.cancel"), '#ocorrencia', :id => "ocultar_div" %>

    <%# f.button :submit, :value => t("screen.button.confirm"), :id => "ocultar_div" %>
  <% end %>

</div>

<script type="text/javascript">
    div_dialog("seleciona_ocorrencia")
</script>