<%= simple_form_for(@visor) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :nome %>
    <%= f.input :numero, :as => :integer %>
  </div>

  <%= link_label_to("Selecionar câmeras fixas", "#", :id=>"seleciona_cameras_exibir_div" ) %>

  <div class="actions">
    <%= f.button :submit %>
  </div>

  <%= render 'seleciona_cameras', :objeto => @visor %>
<% end %>


