<%= admin_bloco do %>

<p><%= link_to 'Novo Monitor', new_visor_path %></p>

<table width="100%" border="0" cellspacing="6">
  <tr>
    <th class="celula_escura" width="10%">Número</th>
    <th class="celula_escura">Nome</th>
    <th class="celula_escura" width="30%">Ação</th>
  </tr>

<% @visores.each do |visor| %>
  <tr>
    <td class="celula_escura"><%= visor.numero %></td>
    <td class="celula_escura"><%= visor.nome %></td>
    <td class="celula_escura">
        <%= link_to t("screen.button.show"), visor %> |
        <%= link_to t("screen.button.edit"), edit_visor_path(visor) %> |
        <%= link_to_delete visor %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to_back %>

<% end %>