<%= admin_bloco do %>

<p><%= link_to 'Novo Monitor', new_visor_path %></p>

<table id="tabela_listagem" width="100%" border="0" cellspacing="6">
  <tr>
    <th width="10%">Número</th>
    <th>Nome</th>
    <th width="30%">Ação</th>
  </tr>

<% @visores.each do |visor| %>
  <tr>
    <td><%= visor.numero %></td>
    <td><%= visor.nome %></td>
    <td><%= links_to_operacao(visor) %></td>
  </tr>
<% end %>
</table>

<%= link_to_back %>

<% end %>