<% titulo("Editar #{User.nome_exibicao}"  ) %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true} ) do |f| %>
  <%= devise_error_messages! %>

  <%= seleciona_imagem_perfil(f, resource) %>

  <div><%= f.label :nome %><br />
  <%= f.text_field :nome %></div>

  <div><%= f.label 'Usuário' %><br />
  <%= f.text_field :nome_usuario %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label 'Senha' %> <i>(Deixar em branco se você não quiser mudar)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label 'Confirmar senha' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label 'Senha atual' %> <i>(precisamos de sua senha atual para confirmar as alterações)</i><br />
  <%= f.password_field :current_password %></div>

  <%= select_tipo_de_usuario(f) %>

  <div><%= f.submit "Atualizar" %></div>
<% end %>

<%= link_to "Voltar", :back %>
