<table align="center">
  <tr>
    <td><%= link_label_to User.nome_exibicao_plural, users_path %></td>
    <td><%= link_label_to Camera.nome_exibicao_plural, cameras_path %></td>
    <td><%= link_label_to Visor.nome_exibicao_plural, visores_path %></td>
    <td><%= link_label_to Ocorrencia.nome_exibicao_plural, ocorrencias_path %></td>
    <td><%= link_label_to Configuration.nome_exibicao_plural, configurations_path %></td>
  </tr>
</table>