<%= simple_form_for(@user, :html=>{:multipart =>true}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= seleciona_imagem_perfil(f, @user) %>
    <%= f.input :nome %>
    <%= f.input :nome_usuario, :input_html => {:disabled => cannot?(:manager, @user)} %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <br />
    <%= f.input :current_password if action_edit? %>

    <% if can? :manager, @user %>
        <%= select_tipo_de_usuario(f) %>
    <% end %>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>

<% end %>