<% titulo("Busca avançada") %>

<%= simple_form_for :busca, :html => {:method => :get} do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :busca_query, :label => "Procurar por", required: false %>
      <%= f.input :periodo, :collection => UtilGma.todos_periodos, required: false, as: :check_boxes  %>
      <%= f.input :periodo_inicial, :label => "De", required: false, as: :date, :start_year => @anos.first, :end_year => @anos.last %>
      <%= f.input :periodo_final, :label => "até", required: false, as: :date, :start_year => @anos.first, :end_year => @anos.last %>
      <%= f.input :operador, :as => :select, :required => false, :include_blank => "Todos", :input_html => { :size => 1, :class=>"fundo_meio"}, :collection => @operadores, :label_method => :nome %>
    </div>

    <%= link_label_to("Selecionar câmeras", "#", :id=>"seleciona_cameras_exibir_div" ) %>

    <div class="actions">
      <%= f.button :submit, :value => "Procurar" %>
    </div>

    <%= render 'seleciona_cameras' %>
<% end %>