<div id="osx-modal-content">
    <div id="osx-modal-title">INICIANDO NOVO TURNO...</div>
    <% if Visor.all.empty? %>
        <div id="osx-modal-data">
		    <h2><%= t("messages.nenhuma_mesa_cadastrada")%></h2>
			<p><%= t("messages.precisa_cadastra_mesa") %></p>
            <p><%= link_label_to "Cadastrar #{Visor.nome_exibicao}", [:new, :visor] %> </p>
	    </div>
    <% else %>
        <%= simple_form_for(@monitoramento, :html => {:class => ''} ) do |f| %>
                <div id="osx-modal-data">
                    <h2>Selecione a <%= Visor.nome_exibicao.downcase %>:</h2>
                    <p> <%= f.input :visor, :as => :select, :label => false, :input_html => { :style => "width:70%"}, :collection => Visor.all.order_by([:numero, :asc]), :label_method => lambda{ |v| "#{v.numero} - #{v.nome}" } %></p>
                    <p><%= f.button :submit, :id => "set_monitor", :name => "set_monitor", :value => t("screen.button.continue") %> <%= link_to t("screen.button.cancel"), root_path %> </p>
                </div>
        <% end %>
    <% end %>
</div>


<script type="text/javascript" language="javascript">
    osx_pleno();
</script>
