<p id="notice"><%= notice %></p>

<p>
  <b>GMC:</b>
  <%= @monitoramento.user.nome %>
</p>

<p>
  <b>Mesa:</b>
  <%= @monitoramento.visor ? "#{@monitoramento.visor.numero ? @monitoramento.visor.numero : "0"} - #{@monitoramento.visor.nome}" : "" %>
</p>

<p>
  <b>Data inical:</b>
  <%= l(@monitoramento.data) %>
</p>

<p>
  <b>Data final:</b>
  <%= l(@monitoramento.data_final) %>
</p>

<p>
  <b>Periodo:</b>
  <%= @monitoramento.periodo_descricao %>
</p>

<hr>

<p>
  <b>Novidades:</b>
  <p><ul><%= @monitoramento.novidades %></ul>
</p>

<hr>

<p>
  <b>Cameras:</b>
  <% @monitoramento.cameras.order_by([:numero_camera, :asc]).each do |c| %>
    <br><br>
    <table>
        <tr>
          <td><%= image_tag(c.foto_do_lugar(:thumb)) %></td>
          <td>
            <%= c.nome + " (#{c.numero_camera})" %>
            <table>
                <tr><td>Ocorrências:</td></tr>
                <tr><td>
                <% @monitoramento.ocorrencias.where(:camera_id => c.id).order_by([:hora, :asc]).each do |o| %>
                    <li><%= "#{o.hora ? l(o.hora, :format => :time) : t("messages.nao_informado")} - #{o.ocorrencia_item.ocorrencia.grupo} - #{o.ocorrencia_item.descricao}" %>
                 <% end %>
                </td></tr>
             </table>
            <table>
                <tr><td>Defeitos apresentados:</td></tr>
                <tr><td>
                <% @monitoramento.camera_defeitos.where(:camera_id => c.id).each do |defeito| %>
                    <li><%= defeito.defeito %></li>
                 <% end %>
                </td></tr>
             </table>
          </td>
         </tr>
     </table>
  <% end %>
</p>

<hr>

<p>
  <b>Ocorrências em ordem cronológica:</b>
  <% @monitoramento.ocorrencias.order_by([:hora, :asc]).each do |o| %>
    <li><%= "#{o.hora ? l(o.hora, :format => :time) : t("messages.nao_informado")} - #{o.camera ? o.camera.nome : "Camera não informada"} - #{o.ocorrencia_item.ocorrencia.grupo} - #{o.ocorrencia_item.descricao}" %>
  <% end %>
</p>

