<p id="notice"><%= notice %></p>

<p>
  <b>GMC:</b>
  <%= @monitoramento.user.nome %>
</p>

<p>
  <b>Data:</b>
  <%= l(@monitoramento.data) %>
</p>

<p>
  <b>Periodo:</b>
  <%= @monitoramento.periodo_descricao %>
</p>

<p>
  <b>Cameras:</b>
  <% @monitoramento.cameras.each do |c| %>
    <p><%= image_tag(c.foto_do_lugar(:thumb)) %></p>
    <p><%= c.nome + " (#{c.numero_camera})" %></p>
  <% end %>
</p>

<p>
  <b>Novidades:</b>
  <%= @monitoramento.novidades %>
</p>

<p>
  <b>Ocorrencias:</b>
  <% @monitoramento.ocorrencia_itens.each do |o| %>
    <li><%= "#{o.ocorrencia.grupo} - #{o.descricao}" %>
  <% end %>
</p>

<p>
  <b>Cameras defeitos</b>
  <% @monitoramento.camera_defeitos.each do |c| %>
    <li><%= "#{c.camera.nome} - #{c.defeito}" %>
  <% end %>
</p>

