<%= titulo("Login") %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <%= add_fields( f.label("Usuário"), f.text_field(:email) ) %>
  <%= add_fields( f.label("Senha"), f.password_field(:password) )%>

  <p>
    <% if devise_mapping.rememberable? -%>
        <%= add_fields_no_tags( f.check_box(:remember_me), f.label('Lembrar de mim'), " | " ) %>
    <% end -%>
    <%= link_to("Esqueci minha senha", new_password_path(resource_name) )%>
  </p>


  <%= add_fields( f.submit("Entrar") )%>
<% end %>

