<div id="seleciona_cameras" style="top: 44px" class="div_flutuante">

  <%= f.simple_fields_for(:cameras) do |ff| %>

    <%= grid_imagem_block( Camera.all, :foto_do_lugar, :nome ) do |c| %>
      <%= check_box_tag "monitoramento[camera_ids][]", c.id, objeto.cameras.include?(c) %>
      <%= c.nome %>
    <% end %>

    <%= f.button :submit, :value => t("screen.button.confirm"), :id => "ocultar_div" %> <%= link_to t("screen.button.cancel"), "#cameras", :id => "ocultar_div" %>
  <% end %>

</div>

<script type="text/javascript">
    div_dialog("seleciona_cameras")
</script>