<%= simple_form_for(@camera) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :nome %>
    <%= f.input :numero_camera, :as => :integer %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
